/* تنسيق الصفحة الرئيسية */
body {
    font-family: 'Arial', sans-serif;
    background-color: bisque;
    margin: 0;
    padding: 0;
}

header {
    background-color: #430808;
    color: #f8e5e5;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2rem; /* تقليل حجم الخط */
}

section.game-category {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    color: #ffff;
    background-color: #430808;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

h2 {
    color: #ffff;
    text-align: center;
    font-size: 1.5rem; /* تقليل حجم الخط */
}

.game {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.game img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s; /* تأثير التحول */
}

#classic-games, #new-games div {
    outline: 2px solid brown;
}

#classic-games div, #new-games div {
    border: 2px solid beige;
}

.game h3 {
    flex-grow: 1;
    margin-left: 20px;
    font-size: 1.2rem; /* حجم مناسب لعنوان اللعبة */
}

.delete-btn {
    background-color: red;
    color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred; /* لون الزر عند تمرير الماوس */
}

footer {
    background-color: #430808;
    color: white; /* تغيير لون النص إلى الأبيض */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1rem; /* حجم نص مناسب */
}
